<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<header class="masthead">
  
    <link href="https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>About</title>
</head>
<body>
    <nav>
        <div class="navContainer">
            <div class="logo">
                निक्का
            </div>
            <ul class="list">
                <li class="listItem">
                    <a style="color: white;" href="/about">About</a>
                </li>
                <li class="listItem">
                    <a style="color: white;" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
        <header class="masthead">
            <p class="masthead-intro">Keshav Thakur</p>
            <h1 class="masthead-heading">Web Developer</h1>
        </header>
    <section class="introduction-section">
        <div class="container">
            <h1>Introduction</h1>
            <p>Hello! My name is Keshav Thakur, and I'm a <strong>web developer</strong> and an intern at <a href="https://www.trilyo.com/">Trilyo</a> here in Bangalore,
                Karnataka.
                <p />
    
            <p>I think it's important to help make the internet a <strong>beautiful place</strong>, whether that be through
                words, photography, or web design.</p>
    
            <p>I also think it's important to push yourself and <strong>learn</strong> one new thing every day, no matter
                what that may be.</p>
        </div>
    </section>
    
    <section class="location-section">
        <div class="container">
            <h1>Where I'm From</h1>
            <p>I call <a
                    href="https://en.wikipedia.org/wiki/Delhi#:~:text=Delhi%20(English:%20/%20%CB%88d%C9%9Bli%20/;%20Hindi:%20[%CB%88d%C9%AAl%CB%90i%CB%90]%20Dill%C4%AB;,India%20containing%20New%20Delhi,%20the%20capital%20of%20India.">Delhi,
                    New Delhi</a> my home. There's a vibrant crowd here that keeps this city bold and <strong>progressive</strong>.
        </div>
    </section>
    
    <section class="questions-section">
        <div class="container">
            <h1>More About Me</h1>
            <h2>What are your favorite hobbies?</h2>
            <p>I love to explore new cities, meet new people, have new experiences play video games, smoke some good <a
                    href="https://en.wikipedia.org/wiki/Stuff">stuff</a>, and sit outside all
                night</h2>
    
    
            <h2>What music have you been listening to lately?</h2>
            <p>I have been listening to all types of songs that give me some satisfaction and help me enjoy few minutes of good and cheerful music in this material and messed up world</p>
        </div>
    </section>
</body>
</html>