<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/home.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="navContainer">
            <div class="logo">
                निक्का
            </div>
            <ul class="list">
                <li class="listItem">
                    <a href="/about">About</a>
                </li>
                <li class="listItem">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div> 
    </nav>
</body>
</html>