<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/home.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="navContainer">
            <div class="logo">
                <a href="/">निक्का</a>
            </div>
            <ul class="list">
                <li class="listItem">
                    <a href="/about">About</a>
                </li>
                <li class="listItem">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div> 
    </nav>
    <section class="firstSec">
        <div style="width: 50%; margin-top: 64px;">
            <h1>Shorten, share and track</h1>
            <p>
                Don't let the links limit you. Make your links support your brand. The new standard of shortening links. Work with
                your team together building your brand engagment.
                Manage your links like a pro.
            </p>
        </div>
        <img src="https://image.freepik.com/free-vector/two-business-partners-handshaking_74855-6685.jpg" alt="">
    </section>
    <section class="urlSection">
        <form action="/shorten-url" method="POST" class="urlForm">
            <input id="shorten_url" class="shorten-input" autocomplete="off" name="url" type="url" value=""
                placeholder="Shorten your link">
            <button class="url-button">Shorten</button>
        </form>
        <h4>By using our service you accept the Terms of service and Privacy.</h4>
    </section>
    <section class="cardSec">
        <div class="cards">
                <div class="card">
                    <img src="/images/lightning.svg" alt="URL shortener">
                    <h1>Lightning Speed </h1>
                    <p>Nikka is easy and fast. Just enter your long link and get your shortened link with one click - no other setup required </p>
                </div>
                <div class="card">
                    <img src="/images/url.svg" alt="URL shortener">
                    <h1>URL Shortener</h1>
                    <p>Free custom URL Shortener with many features that gives you better quality for links shortening. Shortened URLs will
                    never expire.</p>
                </div>
                <div class="card">
                    <img src="/images/device.svg" alt="URL shortener">
                    <h1>Devices</h1>
                    <p>Shortened URLs are compatible with smartphones, tablets and desktop. You do not have to worry about any devic specific requirements</p>
                </div>
        </div>
    </section>
    <footer>
       NIKKA © 2021
    </footer>
</body>
</html>