body {
  background-color: #e27d5f;
}

.svg {
  position: absolute;
  width: 500px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fadeInLeft {
  animation: fadeInLeft ease-out 1s;
}

.fadeInRight {
  animation: fadeInRight ease-out 1s;
}

@keyframes fadeInRight {
  0% {
    left: 100%;
    opacity: 0;
  }

  100% {
    left: 50%;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    left: 0%;
    opacity: 0;
  }

  100% {
    left: 50%;
    opacity: 1;
  }
}

.username {
  font-weight: bold;
  width: 350px;
  margin: 0 35px 20px;
  height: 50px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #f6f7f9;
  color: #748194;
  font-size: 14px;
}

.formContainer {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, 50%);
}

#heading {
  font-family: "Karma", serif;
  font-size: 48px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
}
